@import "tailwindcss";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 249, 250, 251;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}